.TH "$name$" 1 "$date$" "$title$"
.SH NAME
$name$ - Tiling window manager based on binary space partitioning
$body$
.SH CONTRIBUTORS
.IP \[bu] 2
Ivan Kanakarakis <ivan.kanak at gmail.com>
.IP \[bu] 2
Thomas Adam <thomas at xteddy.org>
.SH AUTHOR
$author$ <baskerville at lavabit.com>
.SH HOMEPAGE
https://github.com/baskerville/$name$
